// ****** fonts ******
@font-face 
    font-family: "Orbitron"
    src: url(/public/css/fonts/Orbitron/Orbitron-Regular.ttf)

@font-face 
    font-family: "Press Start 2P"
    src: url(/public/css/fonts/Press_Start_2P/PressStart2P-Regular.ttf)

// ****** variables ******
$orbitron: 'Orbitron', sans-serif
$game-font: 'Press Start 2P', cursive
$darksteam: #292929

// ****** background images ******
.bg-profile, .bg-match, .bg-quest
    background: url(/public/imgs/background.jpg) no-repeat center center fixed

.bg-reg
    background: url(/public/imgs/keyboard.jpg) no-repeat center center fixed 

.bg-login
    background: url(/public/imgs/gamepad.jpeg) no-repeat center center fixed 

.bg-inbox
    background: url(/public/imgs/bluegamepad.jpg) no-repeat center center fixed

.bg-main
    background: url(/public/imgs/ds4.jpeg) no-repeat center center fixed

.bg
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

h2
    font-family: $game-font
    color: white
    text-align: center

h4, h3
    text-align: center
    font-family: $orbitron
    text-transform: uppercase
    font-weight: 700

hr
    margin-top: 10px
    margin-bottom: 10px
    color: white
    width: 80%
    
// ****** navbar ******
.navbar
    background-color: black
    .container
        .navbar-header
        .navbar-collapse
            background-color: black
            .nav 
                li
                    display: inline
                    color: white
                    a
                        text-align: center
                        color: #ffffff
                        font-family: $orbitron
                        font-size: 1.7em
                    a:hover
                        background-color: #444444
                        transition: 0.7s all linear
                        height: 100%

// ******** login/index/register styling (mobile and up) **********
.welcome
    text-align: center
    color: white
    background: rgba(0, 0, 0, 0.7)
    border-radius: 10px
    box-shadow: black 1px 1px 10px
    padding: 1em
    .pix-header
    font-family: $game-font
    color: white  
    text-align: center
    .welcome-desc
        font-family: $orbitron
        letter-spacing: .2em  
        color: white
        text-align: center
    .login-form
        .login
            width: 75%
            margin: 1em auto
        .login-btn
            background-color: #292929

.register
    border-radius: 0
    form
        label
            font-family: $orbitron
            letter-spacing: .2em
        .prof-select
            display: block
            width: 100%
            height: 13  vh
        .btn-primary
            margin-top: .5em

// ****** profile page styling (mobile and up)******

.wrapper
    display: flex
    flex-direction: column
    .user-card
        flex: 1
        display: flex
        flex-direction: column
        height: auto
        .page-head
            display: flex
            flex-direction: column
            .user-name
                flex: 1
                color: white
        .img
            flex: 3
            img
                width: 100%
        .blurb
            flex: 2
            .blurb-display

                margin: auto
                width: 80%
                display: block
            .blurb-input
                display: block
                display: none
                min-height: 22vh
                border-radius: 0
                
    .user-info-edit
        flex: 1
        display: flex
        flex-direction: column
        .email-edit, .birthdate-edit, .language-edit, .timezone-edit,
        .last-logged, .playtime
            flex: 1
        .btn-container
            flex: 1
            text-align: center
    .users-games
        flex: 1
        .owned-games
            .saved-games-list
                padding: 0

    // ***platform tabs****
.nav-tabs
    display: flex
    justify-content: center
    font-family: $orbitron
    text-align: center
    li a
        padding-left: 5px
        padding-right: 5px
    li.active a
        height: 100%
    li.active a, li.active a:focus, li.active a:hover
        background-color: $darksteam
        color: white
        
.plat-tab
    width: 100%
    background: rgba(0, 0, 0, 0.3)
    flex-grow: 1

    // ******

.info-display
    color: white
    text-align: center
    font-family: $orbitron
    letter-spacing: .1em
    padding: .5em
    word-wrap: break-word

.input
    width: 80%
    margin: auto
    background: rgba(0, 0, 0, 0.4)
    color: white
    font-size: 1.2em
    font-family: $orbitron

.info-head
    margin-left: 1em
    .edit-header
        display: inline
        margin-right: 1em
        color: white

.hidden-game, .hidden-answer-submit, .isHidden
    display: none

.users-games, .user-info-edit, .user-card
    background: rgba(0, 0, 0, 0.7)    

.message-btn
    background-color: #576CA8
    box-shadow: rgb(213, 205, 205) 1px 2px 10px

.game-options
    list-style-type: none
    cursor: pointer
    text-align: center

.search-games
    text-align: center

.avatar-img-div
    text-align: center

.blurb-edit
    color: white
    border-right: 2px solid rgba(0, 0, 0, 0.7)

.account-head
    text-align: center

.prof-select
    text-align: center
    cursor: pointer

.prof-select option:hover
    background-color: lightblue

.edit
    color: white

// ****** TABLET STYLES ******
@media only screen and (min-width : 768px)

    // ****** register page styling (tablet) ******

    .register
        width: 80%
        border-radius: 10px
        margin: 1em auto
        form
            label
                margin-top: 1em
            .btn-primary
                margin-top: 1.5em

    // ****** profile page styling (tablet) ******
    .wrapper
        flex-direction: row
        justify-content: center
        flex-wrap: wrap
        .user-card
            padding-top: 1em
            .page-head
            .img
                img
                    width: 50%
            .blurb
                .blurb-input
                    min-height: 19vh
        .user-info-edit
            padding-top: 1em
        .users-games
            min-width: 100%

// ****** DESKTOP STYLES ******

@media only screen and (min-width : 992px)

    // ****** register page styling (desktop) ******
    .register
        width: 40%
        border-radius: 10px
        margin: 1em 0 0 1em
        form
            label
            .btn-primary

    // ****** profile page styling (desktop) ******
    .wrapper
        max-width: 80%
        margin: 1em auto
        .user-card
            padding: 2em 0 2em 2em
            .page-head
            .img
                img
                    width: 50%
            .blurb
                .user-info
                    width: 100%
        .user-info-edit
            padding: 2em 2em 0 0
        .users-games
            padding: 2em

    // ****** index/login page styling (desktop) ******

    .home-wrapper, .login-wrapper
        margin: 2em 0 0 2em
        max-width: 40%
        .welcome
            width: 100%
            .pix-header
                padding-bottom: .8em

/********* column and row styling **********/
.img
    text-align: center

.img img
    max-width: 100%
    border: 1px solid black
    box-shadow: 1px 1px 10px black

.equal
    display: flex
    display: -webkit-flex
    flex-wrap: wrap


.game-add-input
    width: 100%


.user-game-list
    list-style-type: none
    text-align: center
    color: white

.game-form
    position:relative


.game-list
    position: absolute
    background: black
    text-align: center
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px 


#saved-games-list
    text-align: left
    

/*********** question page styling **********/

.panel
    background: rgba(0, 0, 0, 0.7)
    border: none   
    color: white
    font-family: 'Orbitron', sans-serif
    letter-spacing: .2em 
    font-size: .8em


.panel-success > .panel-heading
    background: rgba(13, 52, 11, 0.7)
    border-bottom: black
    color: white

.panel-danger > .panel-heading
    background: rgba(52, 11, 11, 0.7)
    border-bottom: black
    color: white

.radio-label
    padding-left: 10px
    padding-right: 10px


.see-matches-link
    text-align: center

/* ********* match page styling ************* */

.user-cards 
    margin-top: 1em


.match-user-btn
    display: block

.match-percent, .match-screen-name, .match-blurb
    color: white


.match-percent
    font-family: 'Press Start 2P', cursive 


.match-screen-name, .match-blurb
    font-family: 'Orbitron', sans-serif
    letter-spacing: .2em  


.match-blurb
    font-size: .8em


.match-screen-name, .match-percent
    text-align: center
    margin-top: 0px
    margin-bottom: 5px


.filter-btn
    display: block
    margin: 1em auto

#slide
    height: 0px
    transition: height 500ms ease
    background: rgba(0, 0, 0, 0.5)    
    overflow: hidden
    box-shadow: inset black 0px -1px 10px


.filter-bar
    padding-left: 0
    padding-right: 0


.navbar-inverse
    margin: 0


.dropdown-menu
    background-color: black
    padding-top: 0
    padding-bottom: 0


.dropdown-opt, .dropdown-opt li
    font-family: 'Orbitron', sans-serif
    letter-spacing: .2em
    color: white !important


.dropdown-opt:hover, .dropdown-opt li:hover
    color: black !important

.quest-container
    margin-top: 1em

.thumbnail
    background: rgba(0, 0, 0, 0.7)
    border: none
    height: 95%


/* ********** message and inbox styling ************ */

.inbox-btn
    font-family: 'Orbitron', sans-serif
    letter-spacing: .2em 

li.inbox-btn
    background: rgba(0, 0, 0, 0.8)
    color: white
    text-align: center
    border: 1px solid black    


li.inbox-btn:first-child
    border-bottom: 0px

.user-message
    list-style-type: none
    padding: 1em
    border-radius: 10px
    display: block
    border: 1px solid grey
    box-shadow: grey 1px 1px 5px


.current-user-msg
    text-align: right
    background:rgba(44,44,44, 0.5)
    color: white


.btn-default, .btn-primary, .btn-info
    background: rgba(44,44,44, 0.8)
    color: white
    border: 1px solid black
    font-family: 'Orbitron', sans-serif
    letter-spacing: .2em 

.other-user-msg
    text-align: left
    background: rgba(44,44,44, 0.8)
    color: white

::-webkit-scrollbar
    width: 12px

 
::-webkit-scrollbar-track
    border-radius: 10px

 
::-webkit-scrollbar-thumb
    background:rgba(255,255,255, 0.5)
    border-radius: 10px


#msg-content
    margin-bottom: 1em

.modal
    position:absolute


.modal-footer, .modal-content
    background: rgba(0, 0, 0, 0.5)
    border: none


.modal-header
    background-color: black
    border-bottom: black


.modal-content
    margin-top: 7em


.msg-box 
    background: rgba(0, 0, 0, 0)
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

.modal-body
    height: 50vh
    overflow-y: scroll
    background-color: black
    background: rgba(0, 0, 0, 0.7)
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

.modal-title
    color: white

.inbox
    margin-top: 2em


li.inbox-btn:hover
    background-color: black

