div(class="modal fade" id="crop-modal" tabindex="-1" role="dialog")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close"): span(aria-hidden="true") &times;
        h4(class="modal-title") Modal title

      div(class="modal-body") 
        div(id="crop-body" class="crop-body")
           


      div(class="modal-footer")
        input(class="img-url form-control" type="text")                            
        button(type="button" class="btn btn-default" data-dismiss="modal") Close
        button(type="button" class="btn btn-primary") Save changes