div(class="modal fade" id="crop-modal" tabindex="-1" role="dialog")
  div(class="modal-dialog" role="document")
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close"): span(class="close-modal" aria-hidden="true") &times;
        h4(class="modal-title") Crop your image
      .modal-body
        div(id="crop-body" class="crop-body")
          .spinner.isHidden#spinner
            .rect1
            .rect2
            .rect3
            .rect4
            .rect5
      .modal-footer
        input(id="img-url" class="img-url form-control modal-input" type="text" placeholder="Paste URL...")                            
        button(id="save-img" type="button" class="btn btn-primary") Submit