select(id="language" name="language" data="language" multiple class="form-control prof-select input", required)
    option()
    option(value="Afrikanns") Afrikanns
    option(value="Albanian") Albanian
    option(value="Arabic") Arabic
    option(value="Armenian") Armenian
    option(value="Basque") Basque
    option(value="Bengali") Bengali
    option(value="Bulgarian") Bulgarian
    option(value="Catalan") Catalan
    option(value="Cambodian") Cambodian
    option(value="Chinese (Mandarin) ") Chinese (Mandarin) 
    option(value="Croation") Croation
    option(value="Czech") Czech
    option(value="Danish") Danish
    option(value="Dutch") Dutch
    option(value="English" selected="selected") English
    option(value="Estonian") Estonian
    option(value="Fiji") Fiji
    option(value="Finnish") Finnish
    option(value="French") French
    option(value="Georgian") Georgian
    option(value="German") German
    option(value="Greek") Greek
    option(value="Gujarati") Gujarati
    option(value="Hebrew") Hebrew
    option(value="Hindi") Hindi
    option(value="Hungarian") Hungarian
    option(value="Icelandic") Icelandic
    option(value="Indonesian") Indonesian
    option(value="Irish") Irish
    option(value="Italian") Italian
    option(value="Japanese") Japanese
    option(value="Javanese") Javanese
    option(value="Korean") Korean
    option(value="Latin") Latin
    option(value="Latvian") Latvian
    option(value="Lithuanian") Lithuanian
    option(value="Macedonian") Macedonian
    option(value="Malay") Malay
    option(value="Malayalam") Malayalam
    option(value="Maltese") Maltese
    option(value="Maori") Maori
    option(value="Marathi") Marathi
    option(value="Mongolian") Mongolian
    option(value="Nepali") Nepali
    option(value="Norwegian") Norwegian
    option(value="Persian") Persian
    option(value="Polish") Polish
    option(value="Portuguese") Portuguese
    option(value="Punjabi") Punjabi
    option(value="Quechua") Quechua
    option(value="Romanian") Romanian
    option(value="Russian") Russian
    option(value="Samoan") Samoan
    option(value="Serbian") Serbian
    option(value="Slovak") Slovak
    option(value="Slovenian") Slovenian
    option(value="Spanish") Spanish
    option(value="Swahili") Swahili
    option(value="Swedish ") Swedish 
    option(value="Tamil") Tamil
    option(value="Tatar") Tatar
    option(value="Telugu") Telugu
    option(value="Thai") Thai
    option(value="Tibetan") Tibetan
    option(value="Tonga") Tonga
    option(value="Turkish") Turkish
    option(value="Ukranian") Ukranian
    option(value="Urdu") Urdu
    option(value="Uzbek") Uzbek
    option(value="Vietnamese") Vietnamese
    option(value="Welsh") Welsh
    option(value="Xhosa") Xhosa