div(class="modal fade" id="msg-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  div(class="modal-dialog" role="document")
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close"): span(class="close-modal" aria-hidden="true") &times;
        h4(class="modal-title" id="myModalLabel") Messages with #{viewedUser}
      .modal-body#msg-modal-body
        ul.msg-box
      .modal-footer
        input(id="msg-content" maxlength="200" type="text" class="form-control modal-input")
        if viewedUser
          button(id=viewedUser + "-recipient-id" type="button" class="btn btn-primary send-msg") Send
        else
          button(type="button" class="btn btn-primary send-msg-inbox inbox-send-btn") Send