nav(class="navbar navbar-inverse")
    .container-fluid
        .nav-link-container.pull-right
            ul(class="nav navbar-nav")
                li: a(href="/inbox"): span.glyphicon.glyphicon-envelope
                li(class="dropdown")
                    a(class="dropdown-toggle" data-toggle="dropdown")
                        span.glyphicon.glyphicon-menu-hamburger
                    ul(class="dropdown-menu dropdown-menu-right")
                        li: a(class="dropdown-opt" href="/user") Profile
                        if !session.passport
                            li: a(class="dropdown-opt" href="/register") Register
                            li: a(class="dropdown-opt" href="/login") Login
                        if session.passport
                            li: a(class="dropdown-opt" href="/logout") Logout