nav(class="navbar navbar-inverse navbar-static-top" role="navigation")
    .container
        .navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
        div(class="collapse navbar-collapse" id="nav")
            ul(class="nav navbar-nav")
                if !session.passport
                    li: a(href="/register") Register
                    li: a(href="/login") Login
                if session.passport
                    li: a(href="/inbox") Inbox
                    li: a(href="/user") Profile
                    li: a(href="/logout") Logout
