select(id="timezone" name="timezone" data="timezone" multiple class="form-control prof-select input", required)
    option()
    option(value="-12:00 Eniwetok, Kwajalein") (GMT -12:00) Eniwetok, Kwajalein
    option(value="-11:00 Midway Island, Samoa") (GMT -11:00) Midway Island, Samoa
    option(value="-10:00 Hawaii") (GMT -10:00) Hawaii
    option(value="-09:50 Taiohae") (GMT -9:30) Taiohae
    option(value="-09:00 Alaska") (GMT -9:00) Alaska
    option(value="-08:00 Pacific Time") (GMT -8:00) Pacific Time
    option(value="-07:00 Mountain Time") (GMT -7:00) Mountain Time
    option(value="-06:00 Central Time" selected="selected") (GMT -6:00) Central Time
    option(value="-05:00 Eastern Time") (GMT -5:00) Eastern Time
    option(value="-04:50 Caracas") (GMT -4:30) Caracas
    option(value="-04:00 Atlantic Time, Caracas, La Paz") (GMT -4:00) Atlantic Time, Caracas, La Paz
    option(value="-03:50 Newfoundland") (GMT -3:30) Newfoundland
    option(value="-03:00 Brazil, Buenos Aires, Georgetown") (GMT -3:00) Brazil, Buenos Aires, Georgetown
    option(value="-02:00 Mid-Atlantic") (GMT -2:00) Mid-Atlantic
    option(value="-01:00 Azores, Cape Verde Islands") (GMT -1:00) Azores, Cape Verde Islands
    option(value="+00:00 Western Europe Time, London, Lisbon, Casablanca") (GMT) Western Europe Time, London, Lisbon, Casablanca
    option(value="+01:00 Brussels, Copenhagen, Madrid, Paris") (GMT +1:00) Brussels, Copenhagen, Madrid, Paris
    option(value="+02:00 Kaliningrad, South Africa") (GMT +2:00) Kaliningrad, South Africa
    option(value="+03:00 Baghdad, Riyadh, Moscow, St. Petersburg") (GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg
    option(value="+03:50 Tehran") (GMT +3:30) Tehran
    option(value="+04:00 Abu Dhabi, Muscat, Baku, Tbilisi") (GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi
    option(value="+04:50 Kabul") (GMT +4:30) Kabul
    option(value="+05:00 Ekaterinburg, Islamabad, Karachi, Tashkent") (GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent
    option(value="+05:50 Bombay, Calcutta, Madras, New Delhi") (GMT +5:30) Bombay, Calcutta, Madras, New Delhi
    option(value="+05:75 Kathmandu, Pokhara") (GMT +5:45) Kathmandu, Pokhara
    option(value="+06:00 Almaty, Dhaka, Colombo") (GMT +6:00) Almaty, Dhaka, Colombo
    option(value="+06:50 Yangon, Mandalay") (GMT +6:30) Yangon, Mandalay
    option(value="+07:00 Bangkok, Hanoi, Jakarta") (GMT +7:00) Bangkok, Hanoi, Jakarta
    option(value="+08:00 Beijing, Perth, Singapore, Hong Kong") (GMT +8:00) Beijing, Perth, Singapore, Hong Kong
    option(value="+08:75 Eucla") (GMT +8:45) Eucla
    option(value="+09:00 Tokyo, Seoul, Osaka, Sapporo, Yakutsk") (GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk
    option(value="+09:50 Adelaide, Darwin") (GMT +9:30) Adelaide, Darwin
    option(value="+10:00 Eastern Australia, Guam, Vladivostok") (GMT +10:00) Eastern Australia, Guam, Vladivostok
    option(value="+10:50 Lord Howe Island") (GMT +10:30) Lord Howe Island
    option(value="+11:00 Magadan, Solomon Islands, New Caledonia") (GMT +11:00) Magadan, Solomon Islands, New Caledonia
    option(value="+11:50 Norfolk Island") (GMT +11:30) Norfolk Island
    option(value="+12:00 Auckland, Wellington, Fiji, Kamchatka") (GMT +12:00) Auckland, Wellington, Fiji, Kamchatka
    option(value="+12:75 Chatham Islands") (GMT +12:45) Chatham Islands
    option(value="+13:00 Apia, Nukualofa") (GMT +13:00) Apia, Nukualofa
    option(value="+14:00 Line Islands, Tokelau") (GMT +14:00) Line Islands, Tokelau