extends index.pug

block content
    .container
        .list-group
            each userMsg in latestMessages
                button(id=userMsg.id + "-user" type="button" class="list-group-item") Message with #{userMsg.screenName} <br> #{userMsg.msgContent} <br>
            