extends index.pug

block content
    .container
        .list-group
            button(type="button" class="list-group-item") Cras justo odio
            button(type="button" class="list-group-item") Dapibus ac facilisis in
            button(type="button" class="list-group-item") Morbi leo risus
            button(type="button" class="list-group-item") Porta ac consectetur ac
            button(type="button" class="list-group-item") Vestibulum at eros
            