doctype html
html
  head
    title Down2Game
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P" rel="stylesheet")

  body(id="body")
    script(src="/public/lib/jquery/dist/jquery.min.js")
    include partials/nav.pug
    block content
      .welcome
        h3(class="pix-header") Down2Game
        h5(class="welcome-desc") Welcome to Down2Game! 
        h6(class="welcome-desc") Log in or register to find other gamers, based on your personality, habits, platform, etc
    //- libraries
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    //- client modules
    script(src="/public/js/profile.js")
    script(src="/public/js/questions.js")
    script(src="/public/js/match.js")
    script(src="/public/js/messaging.js")
    script(src="/public/js/image-handling.js")
