doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Down2Game
    link(rel="stylesheet" href="/node_modules/normalize.css/normalize.css")
    link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/css/main.css")

  block content
    body(id="body" class="bg bg-main wrapper")
      include partials/nav.pug
      .welcome
        h3(class="pix-header") Down2Game
        h5(class="welcome-desc") Welcome to Down2Game! 
        h6(class="welcome-desc") Log in or register to find other gamers, based on your personality, habits, platform, etc
      include partials/scripts.pug