doctype html
html
  head
    title Down2Game
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P" rel="stylesheet")


  block content
    body(id="body" class="bg bg-main")
      include partials/nav.pug
      .welcome
        h3(class="pix-header") Down2Game
        h5(class="welcome-desc") Welcome to Down2Game! 
        h6(class="welcome-desc") Log in or register to find other gamers, based on your personality, habits, platform, etc
      include partials/scripts.pug