extends index.pug

block content
    div(class="loginForm")
        h1 Log In
        form(action="/login", method="post")
            input(type="email" placeholder="email" name="email")
            input(type="password" placeholder="password" name="password")
            button(type="submit") login
    script(src="/public/js/image-handling.js")
