extends index.pug

block content
    .container-fluid.filter-bar
        div(id="slide")
            .row.eq-col-height
                .col-xs-6.col-md-4
                    ul
                        li filter one
                        li filter two
                        li filter three
                .col-xs-6.col-md-4
                    ul
                        li filter one
                        li filter two
                        li f
                .col-xs-6.col-md-4
                    ul
                        li filter one
                        li filter two
    .container.user-cards
        button(class="filter-btn btn btn-info") Filters
        .row.eq-col-height.row-flex
            each user in usersToShow
                .col-xs-12.col-sm-6.col-md-4.col-lg-3.user-container
                    .thumbnail
                        if user.avatar
                            img(src=user.avatar)
                        else
                            img(src="/public/imgs/no-img-avail.svg")
                        .caption
                                h2 #{user.matchPercent}
                                h3 #{user.screenName}
                                p(class="flex-text text-muted") #{user.blurb}
                                a(class="btn btn-primary" href="/user/" + user.id) View profile