extends index.pug

block content
    body(id="body" class="bg bg-match")
        //- .container-fluid.filter-bar
        //-     div(id="slide")
        //-         .row.eq-col-height
        //-             .col-xs-6.col-md-4
        //-                 ul
        //-                     li filter one
        //-                     li filter two
        //-                     li filter three
        //-             .col-xs-6.col-md-4
        //-                 ul
        //-                     li filter one
        //-                     li filter two
        //-                     li f
        //-             .col-xs-6.col-md-4
        //-                 ul
        //-                     li filter one
        //-                     li filter two
        .container.user-cards
            //- button(class="filter-btn btn btn-info") Filters
            .row.eq-col-height.row-flex.row-eq-height
                each user in usersToShow
                    .col-xs-12.col-sm-6.col-md-4.col-lg-3.user-container
                        .thumbnail
                            if user.avatar
                                img(src=user.avatar)
                            else
                                img(src="/public/imgs/no-img-avail.svg")
                            .caption
                                    h2(class="match-percent") #{user.matchPercent}
                                    h3(class="match-screen-name") #{user.screenName}
                                    p(class="flex-text text-muted match-blurb") #{user.blurb}
                                    a(class="btn btn-primary match-user-btn" href="/user/" + user.id) View profile
        include partials/scripts.pug
        script(src="/public/js/match.js")
