extends index.pug

block content
    .container.quest-container
        .row.eq-col-height
            each question in questions
                .col-sm-6.col-md-4.quest-col
                    .panel.panel-danger
                        div(class="panel-heading" id="q_" + question.id)
                            h5 #{question.content}
                        .panel-body
                            form(method="POST" action="/user/" + question.id + "/questions")
                                each answer in answers
                                    if answer.QuestionId == question.id
                                            .label-input
                                                <input type="radio" name="answer" id="ans_" + answer.id/>
                                                <label for="ans_" + answer.id class="radio-label"> #{answer.ansContent}                                 
                                                </label>
                                                button(type="submit" class="hidden-answer-submit")

    
