extends index.pug

block content
    div(class="container quest-container" id="quest-container" data=userId)
        .row.eq-col-height
            each question in questions
                .col-sm-6.col-md-4.quest-col
                    .panel.panel-danger
                        div(class="panel-heading" id="q_" + question.id)
                            h5 #{question.content}
                        .panel-body
                            form(method="POST" action="/user/" + viewedUser + "/questions")
                                each answer in answers
                                    if answer.QuestionId == question.id
                                            .label-input
                                                input(type="radio" class="radio-input" name="answer" value=answer.id id="ans_" + answer.id)
                                                label(class="radio-label" for="ans_" + answer.id) #{answer.ansContent}                                 
                                                button(type="submit" class="hidden-answer-submit")

    
