@font-face {
  font-family: "Orbitron";
  src: url(/public/css/fonts/Orbitron/Orbitron-Regular.ttf); }

@font-face {
  font-family: "Press Start 2P";
  src: url(/public/css/fonts/Press_Start_2P/PressStart2P-Regular.ttf); }

.bg-profile, .bg-match, .bg-quest {
  background: url(/public/imgs/background.jpg) no-repeat center center fixed; }

.bg-reg {
  background: url(/public/imgs/keyboard.jpg) no-repeat center center fixed; }

.bg-login {
  background: url(/public/imgs/gamepad.jpeg) no-repeat center center fixed; }

.bg-inbox {
  background: url(/public/imgs/bluegamepad.jpg) no-repeat center center fixed; }

.bg-main {
  background: url(/public/imgs/ds4.jpeg) no-repeat center center fixed; }

.bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h4, h3 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  width: 80%; }

.navbar {
  background-color: black; }
  .navbar .container .navbar-collapse {
    background-color: black; }
    .navbar .container .navbar-collapse .nav li {
      display: inline;
      color: white; }
      .navbar .container .navbar-collapse .nav li a {
        text-align: center;
        color: #ffffff;
        font-family: "Orbitron", sans-serif;
        font-size: 1.7em; }
      .navbar .container .navbar-collapse .nav li a:hover {
        background-color: #444444;
        transition: 0.7s all linear;
        height: 100%; }

.welcome {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: black 1px 1px 10px;
  padding: 1em;
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center; }
  .welcome .welcome-desc {
    font-family: "Orbitron", sans-serif;
    letter-spacing: .2em;
    color: white;
    text-align: center; }
  .welcome .login-form .login {
    width: 75%;
    margin: 1em auto; }
  .welcome .login-form .login-btn {
    background-color: #292929; }

.nav-tabs {
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  text-align: center; }
  .nav-tabs li a {
    padding-left: 5px;
    padding-right: 5px; }
  .nav-tabs li.active a {
    height: 100%; }
  .nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    background-color: #292929;
    color: white; }

.plat-tab {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  flex-grow: 1; }

.info-display {
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  letter-spacing: .1em; }

.edit-header {
  color: white; }

.input {
  width: 80%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1.2em;
  font-family: "Orbitron", sans-serif; }

.info-display {
  word-wrap: break-word; }

.blurb-input {
  display: block; }

.info-head {
  margin-left: 1em; }
  .info-head .edit-header {
    display: inline;
    margin-right: 1em; }

.wrapper {
  display: flex;
  flex-direction: column; }
  .wrapper .user-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto; }
    .wrapper .user-card .page-head {
      display: flex;
      flex-direction: column; }
      .wrapper .user-card .page-head .user-name {
        flex: 1;
        color: white; }
    .wrapper .user-card .img {
      flex: 3; }
      .wrapper .user-card .img img {
        width: 100%; }
    .wrapper .user-card .blurb {
      flex: 2; }
      .wrapper .user-card .blurb .blurb-display {
        margin: auto;
        width: 80%;
        display: block; }
      .wrapper .user-card .blurb .blurb-input {
        min-height: 22vh;
        border-radius: 0; }
  .wrapper .user-info-edit {
    flex: 1;
    display: flex;
    flex-direction: column; }
    .wrapper .user-info-edit .email-edit, .wrapper .user-info-edit .birthdate-edit, .wrapper .user-info-edit .language-edit, .wrapper .user-info-edit .timezone-edit,
    .wrapper .user-info-edit .last-logged, .wrapper .user-info-edit .playtime {
      flex: 1; }
    .wrapper .user-info-edit .btn-container {
      flex: 1;
      text-align: center; }
  .wrapper .users-games {
    flex: 1; }
    .wrapper .users-games .owned-games .saved-games-list {
      padding: 0; }

@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap; }
    .wrapper .user-card .img img {
      width: 50%; }
    .wrapper .user-card .blurb .blurb-input {
      min-height: 19vh; }
    .wrapper .users-games {
      min-width: 100%; } }

@media only screen and (min-width: 992px) {
  .wrapper {
    max-width: 80%;
    margin: 1em auto; }
    .wrapper .user-card {
      padding: 2em; }
      .wrapper .user-card .img img {
        width: 50%; }
    .wrapper .user-info-edit {
      padding: 2em; }
    .wrapper .users-games {
      padding: 2em; } }

/*********** profile page styling ***********/
.hidden-game, .hidden-answer-submit, .isHidden {
  display: none; }

.users-games, .user-info-edit, .user-card {
  background: rgba(0, 0, 0, 0.7); }

.message-btn {
  background-color: #576CA8;
  box-shadow: #d5cdcd 1px 2px 10px; }

.game-options {
  list-style-type: none;
  cursor: pointer;
  text-align: center; }

.search-games {
  text-align: center; }

.avatar-img-div {
  text-align: center; }

.blurb-edit {
  color: white;
  border-right: 2px solid rgba(0, 0, 0, 0.7); }

.account-head {
  text-align: center; }

.prof-select {
  text-align: center;
  cursor: pointer; }

.account-info {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: black 1px 1px 10px; }

.prof-select option:hover {
  background-color: lightblue; }

.edit {
  color: white; }

/********* column and row styling **********/
.img {
  text-align: center; }

.img img {
  max-width: 100%;
  border: 1px solid black;
  box-shadow: 1px 1px 10px black; }

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; }

.game-add-input {
  width: 100%; }

.user-game-list {
  list-style-type: none;
  text-align: center;
  color: white; }

.game-list {
  position: absolute;
  background: black;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

#saved-games-list {
  text-align: left; }

/*********** question page styling **********/
.panel {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: .2em;
  font-size: .8em; }

.panel-success > .panel-heading {
  background: rgba(13, 52, 11, 0.7);
  border-bottom: black;
  color: white; }

.panel-danger > .panel-heading {
  background: rgba(52, 11, 11, 0.7);
  border-bottom: black;
  color: white; }

.radio-label {
  padding-left: 10px;
  padding-right: 10px; }

.see-matches-link {
  text-align: center; }

/* ********* match page styling ************* */
.user-cards {
  margin-top: 1em; }

.match-user-btn {
  display: block; }

.match-percent, .match-screen-name, .match-blurb {
  color: white; }

.match-percent {
  font-family: 'Press Start 2P', cursive; }

.match-screen-name, .match-blurb {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: .2em; }

.match-blurb {
  font-size: .8em; }

.match-screen-name, .match-percent {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px; }

.filter-btn {
  display: block;
  margin: 1em auto; }

#slide {
  height: 0px;
  transition: height 500ms ease;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-shadow: inset black 0px -1px 10px; }

.filter-bar {
  padding-left: 0;
  padding-right: 0; }

.navbar-inverse {
  margin: 0; }

.dropdown-menu {
  background-color: black;
  padding-top: 0;
  padding-bottom: 0; }

.dropdown-opt, .dropdown-opt li {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: .2em;
  color: white !important; }

.dropdown-opt:hover, .dropdown-opt li:hover {
  color: black !important; }

.quest-container {
  margin-top: 1em; }

.thumbnail {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  height: 95%; }

/* ********** message and inbox styling ************ */
.inbox-btn {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: .2em; }

li.inbox-btn {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  border: 1px solid black; }

li.inbox-btn:first-child {
  border-bottom: 0px; }

.user-message {
  list-style-type: none;
  padding: 1em;
  border-radius: 10px;
  display: block;
  border: 1px solid grey;
  box-shadow: grey 1px 1px 5px; }

.current-user-msg {
  text-align: right;
  color: white; }

.btn-default, .btn-primary, .btn-info {
  color: white;
  border: 1px solid black;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: .2em; }

.other-user-msg {
  text-align: left;
  color: white; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px; }

#msg-content {
  margin-bottom: 1em; }

.modal-footer, .modal-content {
  background: rgba(0, 0, 0, 0.5);
  border: none; }

.modal-header {
  background-color: black;
  border-bottom: black; }

.modal-content {
  margin-top: 7em; }

.msg-box {
  background: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.modal-body {
  height: 50vh;
  overflow-y: scroll;
  background-color: black;
  background: rgba(0, 0, 0, 0.7);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.modal-title {
  color: white; }

.inbox {
  margin-top: 2em; }

li.inbox-btn:hover {
  background-color: black; }
