
/*********** profile page styling ***********/
.hidden-email, .hidden-blurb, .hidden-language, .hidden-timezone, .hidden-game,
.hidden-language-submit, .hidden-timezone-submit, .hidden-answer-submit {
    display: none;
}   

.game-options {
    list-style-type: none;
    cursor:pointer;
    text-align: center;
}

.hidden-list {
    display: none;
}

.account-info, .pic-and-blurb, .search-games {
    text-align:center;
}

.blurb {
    display:inline;
}
.app-title {
    display: inline;
    padding-top: 10px;
}

.account-head {
    text-align: center;
}

.navbar {
    background-color: #357DED;
}

.prof-select {
    width: 250px;
    margin:1px auto;
    text-align: center;
    cursor: pointer;
}

#gameSearch, #email-input {
    width: 250px;
    margin:1px auto;
    text-align: center;
}

.account-info {
    background-color: #6f3bbb;
    padding: 25px;
    border-radius: 10px;
    box-shadow: black 2px 2px 10px;
    color: white;
}

.prof-select option:hover {
    background-color: lightblue;
}

.edit {
    color: black;
}

.user-info {
    display: inline;
    padding-right: 10px;
}

/********* column and row styling **********/
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.user-game-list {
    list-style-type: none;
    text-align: left;
    font-size: .8em;
}

#saved-games-list {
    text-align: left;
}

.saved-games {
    padding-bottom: 5px;
}

/*********** question page styling **********/
.quest-col {
    max-height: 30%;
    min-height: 30%;
}

.row.eq-col-height {
    display: flex;
    flex-wrap: wrap;
}

.row.eq-col-height > [class*='col-'] {
    flex-grow: 1;
}

.radio-label {
    padding-left: 10px;
    padding-right: 10px;
}

.see-matches-link {
    text-align: center;
    margin: 1em auto;
    display: block;
}